body {
    .FormatoParaCard {
        background-color: white;
        width: 100%;
        display: inline-block;
        border-radius: 18px;
    }

    .FormatoImagenCard {
        width: 50%;
        height: 200px;
        border-radius: 18px;
    }

    .MargenColumna {
        margin-left: 15px;
    }

    .Alinear {
        text-align: center;
    }

    .contenedor-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card-hacienda {
        background: white;
        border-radius: 15px;
        padding: 20px;
    }

    .CentrarImagen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .FormatoRecuadro {
        background-color: #979797;
        padding: 10px;
        text-align: center;
        border-radius: 18px;
    }

    .Indicador {
        color: #fa994e;
        font-size: 30px;
    }
}
}
